# Loading Data into Pandas

In [4]:
import pandas as pd 

df = pd.read_csv('pokemon_data.csv')
# df = pd.read_xml('')
# df = pd.read_excel('')

# print(df.head(3))
print(df.tail(3))

       #                 Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
797  720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
798  720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

# Reading Data in Pandas

In [17]:
# Read Headers
# print(df.columns)

# Read each columns
top_ten = df.head(10)
print(top_ten[['Name','Type 1','Type 2', 'HP']])

# Read each row
# print(df.iloc[1:4])
# df.loc[df['Type 1'] == 'Fire']

# Read a specific location (R,C)
# print(df.iloc[2,1])

                        Name Type 1  Type 2  HP
0                  Bulbasaur  Grass  Poison  45
1                    Ivysaur  Grass  Poison  60
2                   Venusaur  Grass  Poison  80
3      VenusaurMega Venusaur  Grass  Poison  80
4                 Charmander   Fire     NaN  39
5                 Charmeleon   Fire     NaN  58
6                  Charizard   Fire  Flying  78
7  CharizardMega Charizard X   Fire  Dragon  78
8  CharizardMega Charizard Y   Fire  Flying  78
9                   Squirtle  Water     NaN  44

# Sorting/Describing Data

In [19]:
df.sort_values('Name')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

# Making changes to the data

In [24]:
df.head(5)

# df['Total'] = df['HP'] + df['Attack'] + df['Defense']

# df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,143
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,185
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,245
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,303
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,134